# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# due to using coverage
.coverage

# due to vscode:
.vscode/

# due to Mac:
**/.DS_Store
